# Dependencies
node_modules/
apps/*/node_modules/

# Next.js
.next/
apps/*/.next/
out/

# Environment
.env
.env.local
.env*.local
apps/*/.env
apps/*/.env.local

# Build
dist/
apps/*/dist/

# Sistema
.DS_Store
*.log

# Prisma
apps/*/prisma/migrations/

# WhatsApp worker sessions
apps/worker/prisma/seed.js
apps/frontend/prisma/
